<header>
  <div class="navbar navbar-dard bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i class="fas fa-shipping-fast"></i>
      <strong>OnlineShop</strong>
      <div class="form-group">
        <input type="text" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products" class="form-control">
      </div>
      <!-- <div class="fas fa-search search-icon">
      </div> -->
    </div>
    <button routerLink="cart" class="btn btn-primary">
      <i class="fas fa-cart-plus"></i>
      <div class="badge bg-danger">{{totalItem}}</div>
    </button>
  </div>
</header>
